<% provide(:title, "About") %>

<h1>About</h1>

<p><a href="https://drewm.com">Drew Mitchell</a> (class of 2017) created Poo at CWRU in the summer of 2014. He drew inspiration from graffiti in a Sears restroom rating it on several scales. The graffiti is no longer there, but it has been <a href="https://www.reddit.com/r/cwru/comments/2anjrp/i_poop_in_one_of_the_quad_buildings_every_morning/">saved for posterity on Reddit</a>. For more info, see <a href="https://observer.case.edu/poo-at-cwru/">The Observer&rsquo;s interview</a>.</p>

<p>If you have any questions or comments about this site, you can email Drew at <a href="mailto:atm62@case.edu">atm62@case.edu</a>. You can also contribute via <a href="https://github.com/nerdydrew/Poo-at-CWRU">GitHub</a>.</p>

<p><a href="/images/Inspiration.jpg"><img src="/images/Inspiration.jpg" alt="Picture of graffiti on a bathroom wall." title="Click for full size." /></a></p>