<h1 class="headline">Helping you find restrooms <span class="subtitle">that don&rsquo;t stink beyond the possible</span></h1>

<p>Have you ever wanted to keep track of the best and worst restrooms at Case Western Reserve University? Probably not, but now you can.</p>

<%= render "buildings/near_me", buildings: nil %>