<div id="geolocation">
	<% if buildings.present? %>
		<table>
			<thead>
				<th>Nearest Buildings</th>
				<th>Distance</th>
			</thead>
			<tbody>
				<% buildings.each do |building| %>
					<tr>
						<td><%= link_to building.name, building %></td>
						<td><%= link_to print_distance_and_bearing(building), building %></td>
					</tr>
				<%end%>
			</tbody>
		</table>
	<% elsif !buildings.nil? and buildings.empty? %>
		<p class="warning">I can&rsquo;t find any buildings near you.</p>
	<% end %>
</div>


<script>
	const elementToUpdate = document.getElementById("geolocation");

	function getNearbyBuildings() {
		if ("geolocation" in navigator) {
			elementToUpdate.innerHTML="<p class=\"loading\">Trying to get location&hellip;</p>";
			navigator.geolocation.getCurrentPosition(findNearPosition, onError, {
				maximumAge: 30000,
				timeout: 10000
			});
		} else {
			elementToUpdate.innerHTML = "<p class=\"warning\">Your browser may not support geolocation.</p>";
		}
	}

	// Takes in a coordinate position and uses AJAX.
	function findNearPosition(position) {
		elementToUpdate.innerHTML = "<p class=\"loading\">Location found. Determining nearest toilets&hellip;</p>";

		const latitude = position.coords.latitude;
		const longitude = position.coords.longitude;
		const url = "<%= escape_javascript(near_me_buildings_path) %>?latitude=" + latitude + "&longitude=" + longitude;

		// Pass in authenticity token so the AJAX doesn't get blocked.
		const options = {
			headers: {
				"X-Requested-With": "XMLHttpRequest",
				"X-CSRF-Token": "<%= form_authenticity_token %>"
			},
			credentials: "same-origin"
		};

		fetch(url, options)
			.then(function (r) {return r.text();})
			.then(function (results) {
				elementToUpdate.outerHTML = results;
			})
			.catch(onError);
	}

	function onError(error) {
		console.error(error);
		let message;
		if (error.code == 1) {
			message = "If you don&rsquo;t give us your location, we can&rsquo;t find a nearby restroom!";
		} else {
			message = "There was a problem finding your location.";
		}
		elementToUpdate.innerHTML = "<p class=\"warning\">" + message + "</p>";
	}

	<% if buildings.nil? %>
		// On first load, request geolocation and start searching.
		getNearbyBuildings();
	<% end %>
</script>