<% provide(:title, "All Buildings") %>

<h1>All Buildings</h1>

<dl class="alphabet">
	<% @buildings_by_letter.each_pair do |letter, buildings| %>
		<dt><%= letter %></dt>
		<dd>
			<ul>
				<% buildings.each do |building| %>
					<li><%= link_to building.name, building %> (<%= pluralize(building.restroom_count, "restroom") %>)</li>
				<% end %>
			</ul>
		</dd>
	<% end %>
</dl>