<% provide(:title, "All Buildings") %>

<h1>All Buildings</h1>

<% @buildings_by_letter.each_pair do |letter, buildings| %>
	<h2><%= letter %></h2>
	<ul>
		<% buildings.each do |building| %>
			<li><%= link_to building.name, building %> (<%= building.toilet_count %> restrooms)</li>
		<% end %>
	</ul>
<% end %>