<% provide(:title, @building.name) %>

<p id="notice"><%= notice %></p>

<h1><%= @building.name %></h1>

<%= content_tag :p, @building.blurb.html_safe if @building.blurb.present? %>

<%= render "toilets/index" %>