<% provide(:title, @floor.to_breadcrumb) %>

<p>
  <strong>Name:</strong>
  <%= @floor.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @floor.slug %>
</p>

<p>
  <strong>Level:</strong>
  <%= @floor.level %>
</p>

<p>
  <strong>Building:</strong>
  <%= @floor.building.slug %>
</p>
