<% provide(:title, "Update Review") %>

<h1>
  <%= link_to @restroom.building.name, @restroom.building %>
  &gt;
  <%= link_to @restroom.floor.pretty_name, [@restroom.building, @restroom.floor] %>
  &gt;
  <%= link_to @restroom.name, [@restroom.building, @restroom.floor, @restroom] %>
  &gt;
  Update Review
</h1>

<%= render 'form', review: @review, url: building_floor_restroom_review_path %>
